

<div class="box js-box">
  <!-- BEGIN HEADER-->

  <!-- END HEADER-->
  <!-- BEGIN NAVBAR-->
  <div id="header-nav-offset"></div>

  <!-- END NAVBAR-->
  <div class="site-wrap js-site-wrap">
    <!-- BEGIN BREADCRUMBS-->
    <nav class="breadcrumbs">
      <div class="container">
        <ul>
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Acceuil</a></li>
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Ajouter Boutique</a></li>
        </ul>
      </div>
    </nav>
    <!-- END BREADCRUMBS-->
    <div class="center">
      <div class="container">
        <div class="row">
          <div class="site site--main">
<br><br>


              <div class="widget js-widget widget--dashboard">
                <div class="widget__header">
                  <h2 class="widget__title">Profile</h2>
                  <a  class="widget__btn js-widget-btn">Modifier Boutique</a>
                  <a  class="widget__btn js-widget-btn" (click)="deleteBoutique()">Supprimer Boutique</a>
                </div>
                <div class="widget__content">
                  <div class="worker worker--profile">
                    <div class="worker__item">
                      <div class="worker__photo"><a href="agent_profile.html" class="item-photo item-photo--static"><img src="assets/media-demo/workers/worker-3.jpg" alt="Mariusz Ciesla" class="photo">
                        <figure class="item-photo__hover"><span class="item-photo__more">View Details</span></figure></a></div>
                      <div class="worker__intro">
                        <h3 class="worker__name fn">{{boutique1.nom}}</h3>
                        <div class="worker__post">{{boutique1.domaine}}</div>
                        <div class="clearfix"></div>
                        <div class="worker__contacts">
                          <div class="worker__intro-col">
                            <div class="tel"><span class="type">Telephone</span><a href="tel:+44(0)30334657220" class="uri value">{{boutique1.user.numtel}}</a></div>
                            <div class="tel"><span class="type">Adresse</span><a href="tel:+44(0)30334657220" class="uri value">{{boutique1.adresse}}</a></div>
                          </div>
                          <div class="worker__intro-col">
                            <div class="email"><span class="type">Email</span><a href="mailto:mr_cs@realtyspace.com" class="uri value">{{boutique1.mailprofessionnelle}}</a></div>
                            <div class="skype"><span class="type">Horaire</span><a href="skype:Ciesla_1981?call" class="uri value">{{boutique1.horaire}}</a></div>
                          </div>
                          <!-- end of block .worker__contacts-->
                          <div *ngIf="lat && lng">
                            <agm-map [latitude]="lat" [longitude]="lng" >
                              <agm-marker [latitude]="lat" [longitude]="lng" >
                                <agm-info-window>
                                  <h3><strong>Bonjour</strong></h3>
                                  <p>c'est votre position</p>
                                </agm-info-window>
                              </agm-marker></agm-map>
                          </div>
                        </div>
                        <div class="social social--worker"><a href="#" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-linkedin"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a></div>

                        </div>


                    </div>
                  </div>
                </div>
              </div>

          </div>
          <div class="sidebar">
            <div class="widget js-widget widget--sidebar widget--first-no-head">
              <div class="widget__header"><a class="widget__btn js-widget-btn widget__btn--toggle">Show profile</a>
              </div>
              <div class="widget__content">
                <!-- BEGIN WORKER PROFILE-->
                <div class="worker sidebar-advanced">
                  <h3 class="worker__name">{{boutique1.nom}}</h3>
                  <div class="worker__photo">
                    <div class="worker__avatar">
                      <svg>
                        <use xlink:href="#icon-avatar"></use>
                      </svg>
                    </div>
                    <div class="widget js-widget widget--main widget--no-margin widget--no-border widget--collapse">
                      <div class="widget__header">

                        <div  class="form-property__upload-border">
                          <input type="file" (change)="UploadImage($event)" class="form-property__upload-btn-choose">





                        </div>

                      </div>


                    </div>

                  </div>
                  <nav class="worker__nav">
                    <ul>
                      <li><a  (click)="gotoajout()">Profil</a></li>
                      <li><a (click)="gotoajoutProduit()" >Ajouter produit</a></li>
                      <li><a (click)="gotoproduit()" >Vos produits</a></li>
                      <li><a (click)="gotoabonnement()" >Faire un abonnement</a></li>
                      <li><a  >Vos abonnement</a></li>
                    </ul>
                  </nav>
                  <!-- end of block .worker__nav-->
                </div>
                <!-- end of block .worker__item-->
                <!-- END WORKER PROFILE-->
              </div>
            </div>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- END CENTER SECTION-->
    <!-- BEGIN AFTER CENTER SECTION-->
    <!-- END AFTER CENTER SECTION-->
    <!-- BEGIN FOOTER-->

    <!-- end of block .footer-->
    <!-- END FOOTER-->
  </div>

</div>

