<header class="header header--brand">

  <div class="container">

    <div class="containerr">

      <div class="header__row"><a href="index.html" class="header__logo">

        <svg>
          <use xlink:href="#icon-logo--mob"></use>
        </svg></a>
        <div class="header__settings">

          <div class="header__settings-column">
            <img src="../assets/img/zéro-gaspii-3.png" class="navbar__brand-logo">
          </div>
          <!-- end of block .header__settings-column-->

          <!-- end of block .header__settings-column-->


          <div class="header__settings-column">

            <div class="dropdown dropdown--header">

              <button data-toggle="dropdown" type="button" class="dropdown-toggle dropdown__btn">
                <svg class="header__settings-icon">
                  <use xlink:href="#icon-earth"></use>
                </svg>fr
              </button>
              <div class="dropdown__menu">
                <ul>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">عربية</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <!-- end of block .header__contacts-->

        <div class="displayed">
          <div class="navbar__row js-navbar-row"><a href="index.html" class="navbar__brand">

            <div  class="navbar__wrap">
              <ul class="navbar__nav">
                <li class="navbar__item js-dropdown"><a class="navbar__link" [routerLink]="['']" routerLinkActive="active" >Acceuil
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Properties
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <h5 class="navbar__subtitle">Details</h5>
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Property</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Property projected</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Property & agent</a></li>
                      </ul>
                    </div>
                    <div class="navbar__submenu">
                      <h5 class="navbar__subtitle">Listing</h5>
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem navbar__subitem-dropdown js-dropdown"><a class="navbar__sublink js-navbar-sublink">Grid
                          <svg class="navbar__arrow">
                            <use xlink:href="#icon-arrow-right"></use>
                          </svg></a>
                          <div class="navbar__submenu navbar__submenu--level">
                            <button class="navbar__back js-navbar-submenu-back">
                              <svg class="navbar__arrow">
                                <use xlink:href="#icon-arrow-left"></use>
                              </svg>Back
                            </button>
                            <ul class="navbar__subnav">
                              <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sub-sublink">Large</a></li>
                              <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sub-sublink">Medium</a></li>
                              <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sub-sublink">Small</a></li>
                            </ul>
                          </div>
                        </li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">List</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Table</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Empty</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown active" ><a class="navbar__link" [routerLink]="['pageBoutique']" routerLinkActive="active">Boutiques
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a [routerLink]="['pageBoutique']"  class="navbar__sublink js-navbar-sub-sublink">Page Boutique</a></li>

                        <li class="navbar__subitem"><a [routerLink]="['boutique']" class="navbar__sublink js-navbar-sub-sublink">Liste des Boutiques</a></li>
                        <li class="navbar__subitem active"><a [routerLink]="['boutique/addBoutique']"  class="navbar__sublink js-navbar-sub-sublink">Ajouter Boutique</a></li>

                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Utilisateur
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>

                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem"><a [routerLink]="['login']" class="navbar__sublink js-navbar-sublink">Login / Créer compte</a></li>
                        <li class="navbar__subitem"><a [routerLink]="['profilutilisateur']" class="navbar__sublink js-navbar-sublink">Votre compte</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Restore</a></li>
                      </ul>
                    </div>
                  </div>
                </li>

                <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                  <button class="navbar__back js-navbar-submenu-back">
                    <svg class="navbar__arrow">
                      <use xlink:href="#icon-arrow-left"></use>
                    </svg>Back
                  </button>
                  <div class="navbar__submenu">
                    <ul class="navbar__subnav">
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Blog list</a></li>
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Blog details</a></li>
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Blog empty</a></li>
                    </ul>
                  </div>
                </div>

                <li class="navbar__item js-dropdown"><a class="navbar__link">Panier


                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">

                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Contact
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">

                    </div>
                  </div>
                </li>



                <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right navbar__dropdown--colls-2">
                  <button class="navbar__back js-navbar-submenu-back">
                    <svg class="navbar__arrow">
                      <use xlink:href="#icon-arrow-left"></use>
                    </svg>Back
                  </button>
                  <div class="navbar__submenu">
                    <h5 class="navbar__subtitle">Variations</h5>
                    <ul class="navbar__subnav">
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Feature not available</a></li>
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Layout boxed</a></li>
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Sidebar left</a></li>
                    </ul>
                  </div>
                  <div class="navbar__submenu">
                    <h5 class="navbar__subtitle">Elements</h5>
                    <ul class="navbar__subnav">
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">UI</a></li>
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Typography</a></li>
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Feature loaders</a></li>
                      <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Twitter Bootstrap</a></li>
                    </ul>
                  </div>
                </div>

                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Language
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">English</a></li>
                        <li class="navbar__subitem"><a  href="" class="navbar__sublink js-navbar-sublink">French</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Italian</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Russian</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Currency
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">USD</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">EURO</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">RUB</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Measures
                  <svg class="navbar__arrow">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use xlink:href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <div class="switch switch--menu">
                        <label>M <sup>2</sup>
                          <input type="checkbox" checked><span class="lever"></span>Sq Ft
                        </label>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- end of block  navbar__nav-->
            </div>
          </a></div></div></div>

      <div class="right">
        <div class="header__settings-column">
        <div class="auth auth--header">
          <ul class="auth__nav">
            <li class="dropdown auth__nav-item">
              <div class="dropdown__menu auth__dropdown--restore">
                <!-- BEGIN AUTH RESTORE-->
                <h5 class="auth__title">Reset password</h5>
                <form action="#" class="form form--flex form--auth form--restore js-restore-form js-parsley">
                  <div class="row">
                    <div class="form-group">
                      <label for="restore-email-dropdown" class="control-label">Enter your User Name or Email</label>
                      <input type="email" name="email" id="restore-email-dropdown" required class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <button type="submit" class="form__submit">Reset password</button>
                  </div>
                  <div class="row">
                    <div class="form__options">Back to
                      <button type="button" class="js-user-login">Log In</button>or
                      <button type="button" class="js-user-register">Registration</button>
                    </div>
                    <!-- end of block .auth__links-->
                  </div>
                </form>
                <!-- end of block .auth__form-->
                <!-- END AUTH RESTORE-->
              </div>
            </li>
            <li class="dropdown auth__nav-item" *ngIf="! loginService.islogged()">
              <button data-toggle="dropdown" type="button" class="dropdown-toggle js-auth-nav-btn auth__nav-btn">
                <svg class="auth__icon-user">
                  <use xlink:href="#icon-user"></use>
                </svg><span class="header__span"> Log in</span>
              </button>
              <div class="dropdown__menu auth__dropdown--login">
                <!-- BEGIN AUTH LOGIN-->
                <h5 class="auth__title">Login in your account</h5>
                <form action="#" class="form form--flex form--auth js-login-form js-parsley">
                  <div class="row">
                    <div class="form-group">
                      <label for="login-username-dropdown" class="control-label">Username</label>
                      <input type="text" name="username"  id="login-username-dropdown" required data-parsley-trigger="keyup" data-parsley-minlength="6" data-parsley-validation-threshold="5" data-parsley-minlength-message="Login should be at least 6 chars" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="login-password-dropdown" class="control-label">Password</label>
                      <input type="password" name="password" id="login-password-dropdown" required class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form__options form__options--forgot">
                      <button type="button" class="js-user-restore">Forgot password ?</button>
                    </div>
                    <button type="submit" class="form__submit">Sign in</button>
                  </div>
                  <div class="form__remember">
                    <input type="checkbox" id="remember-in-dropdown" class="in-checkbox">
                    <label for="remember-in-dropdown" class="in-label">Remember me</label>
                  </div>
                  <div class="row">
                    <div class="form__options">Not a user yet?
                      <button type="button" class="js-user-register">Get an account</button>
                    </div>
                  </div>
                </form>
                <!-- end of block .auth__form-->
                <!-- END AUTH LOGIN-->
              </div>
            </li>
            <li class="dropdown auth__nav-item" *ngIf="loginService.islogged()">

              <button (click)="logout()" data-toggle="dropdown" type="button" class="dropdown-toggle auth__nav-btn">
                <svg class="auth__icon-user">
                  <use xlink:href="#icon-user"></use>
                </svg>
                <span class="header__span">  Logout</span>
              </button>

            </li>
          </ul>
          <!-- end of block .auth header-->
        </div></div>
      </div>

    <button type="button" class="header__navbar-toggle js-navbar-toggle">
      <svg class="header__navbar-show">
        <use xlink:href="#icon-menu"></use>
      </svg>
      <svg class="header__navbar-hide">
        <use xlink:href="#icon-menu-close"></use>
      </svg>
    </button>
    <!-- end of block .header__navbar-toggle-->


    </div></div> </header>
