<body class="agent_profile menu-default hover-default ">
<div class="site-wrap js-site-wrap">
  <!-- BEGIN BREADCRUMBS-->
  <nav class="breadcrumbs">
    <div class="container">
      <ul>
        <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Acceuil</a></li>
      </ul>
    </div>
  </nav>


</div>
<div class="container">
<div class="player">
  <video poster="http://codefactory47.com/public/realtyspace/media/playercover.jpg" controls crossorigin>
    <source src="http://codefactory47.com/public/realtyspace/media/videotour.mp4" type="video/mp4">
    <source src="http://codefactory47.com/public/realtyspace/media/videotour.webm" type="video/webm">
  </video>
  <!--button.article__preview-play.js-player-play-->
</div></div>
</body>
